/*============================================================== visualizacoes*/
.visualizar-titulo {
	/*background: #ff0;*/
	
}

.visualizar-data-ctrl {
	margin-top: 50px;
	margin-bottom: 50px;
	/*background: #f00;*/
}

.visualizar-grade {
	/*background: #00f;*/
	margin-top:20px;
}

.visualizar-grade #gradehorarios {
	overflow: auto;	
	width: 98%;/**/
	margin:0;
	
}

.visualizar-grade #gradehorarios .horario{
	width: 60px;	
}

.visualizar-grade #gradehorarios th {	
	padding: 5px 10px;
}

.visualizar-grade #gradehorarios td {
	padding: 2px 5px;
}

@media print {
	header {
		display: none;
	}
	footer {
		display: none;
	}
	section {
		padding: 0 !important;
		margin: 0 !important;
	}
	.no-print{
		display:none;
	}	
}