@charset "UTF-8";

/*@font-face - automatic generated fonts code by folder content. */
@import url("../fonts/fonts.css");

* {
	box-sizing: border-box;
	font-family: OpenSans,OpenSansCondensedLight;
}
body{
	margin:0;
	padding:0;
}
/* ============================================================  */

header {	
	width: 100%;
	height: 120px;
	position:relative;
	color:#fff;
}
header h1.title{
	text-shadow:0px 4px 4px #555;
}

header.site{
	background:#2ecc71 !important;
}
header.admin{
	background: #700 !important;
}
nav{
	width: 100%;
	height: 50px;
	background: none;	
	padding:0 0 0 0;
	bottom:0;
}
section {
	width: 100%;
	min-height: 750px;	
	background:#fff; /*#ecf0f1;*/
	padding-top:20px;
	padding-bottom:150px;
	position:relative;
}

footer {
	width: 100%;
	height: 100px;
	text-align: center;	
	padding-top:20px;	
	font-size: 14px;
	color:#fff;
	position:relative;
}
footer.site{
	background: #27ae60!important;
}
footer.admin{
	background: #200!important;
}

/* ============================================================  */
a:hover{
	text-decoration: none; 
}

/* ============================================================  */
label{
	cursor: pointer;
}

/* ============================================================  */
/*.btn{
	box-shadow:0px 2px 6px rgba(0,0,0,0.3);
}
.btn:hover{
	box-shadow:0px 2px 4px rgba(0,0,0,0.6);
}/**/

/* ============================================================  */


